@{
    ViewData["Title"] = "Nome do pagina";
}
<h1> Titulo 1</h1>
<p> paragrafo @ViewData["para"]</p>

<address>
    <strong>Texto negrito</strong> <a href="https://www.duolingo.com/">Aprenda inglês clicando aqui</a>
</address>